.card{
    box-sizing: border-box;
    background-color: white;
    width: calc(50% - 60px);
    box-shadow: 0 0 38px -3px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0 0 38px -3px rgba(0,0,0,0.48);
    -moz-box-shadow: 0 0 38px -3px rgba(0,0,0,0.48);
    figure{
        width: 100%;
        margin: 0 0 -10px;
    }
}

@media(max-width: 990px){
    .card{
        width: 100%;

        &:first-child{
            margin-bottom: 50px;
        }
    }
}